.main__icons{
    padding-bottom: 3rem;
    
    a {
        color: $grey;
        display: inline;
    }
    
    a:hover {
        color: gray;
      }

    .fab {
        font-size: 2rem;
        padding-left: 1rem;
    }
    }
    