// Color Scheme
// First Color Scheme
$green: #7CEA9C;
$grey: #2D3047;
$dark: 	#071012;
$white: #FFFFFF;
// Second Color Scheme


//Third Color Scheme


//Fourth Color Sheme


//Fiveth Color Sheme

//Sixth Color Sheme
// Tipography

//Font Family

$lato: 'Lato', sans-serif;

// Font Weight

$bold: 700;
$black: 900;

// Font Sizes
$light: 300;
$regular: 400;
