//article sidebar 
  a:hover {
    color: gray;
  }
  
  #menuToggle {
    display: none;
  }
  
  .sidebar {
    box-sizing: border-box;
    position: fixed;
    height: 110vh;
    background-color: $green;
    padding-top: 5%;
    text-align: center; 
}
